registry=http://am-tfs/Fabrikam/_packaging/Fabrikam/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 12/16/2018.
; begin auth token
//am-tfs/Fabrikam/_packaging/Fabrikam/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6InB2dTFIS0R0OERsVzA5RVNVdTZLY0ZEd05lYyJ9.eyJuYW1laWQiOiI2MjVmZDJiZi03ODk4LTRmMjEtOTA4Yy01YzUwOTk2N2UwOTYiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYTM1NmVmZDMtMzY4OC00MjEwLTg5OGItNWZiY2Y1YzYyNTk2Iiwic2lkIjoiNTU1NjIyZmUtYjgyNi00YzU1LWE5MDEtNzBiOGM3MTY2MTVlIiwiaXNzIjoiYW0tdGZzIiwiYXVkIjoiYW0tdGZzIiwibmJmIjoxNTM3MjA2Nzc5LCJleHAiOjE1NDQ5ODI3Nzl9.EeXiLTP8bAfk-_4ZgcCFalDq92Gkx2tbeOFccvTZfY9QlslqnZx9rgQWs-dHHZCmaT5MYX66fHLHrNzD39MJloBEGShciqJdGjez1Yque7DlQm58T57c6WRUJQPZfJoMq6mRXB1dH4RoD-xgOn-15kV3KgqH2pDjc6nurD5f9-5YRJxCOmeqLtfWPb4LClfqqEmLaaQsEjYfZ2tGYXr82iewVhMng1q8zU5ZIYsZ7pLxnVFmtzIDUFxNXJRbt7BctzhX_l_LeaOlFS5GmtIqkHW-_KdDR9llCJsSiGFfI1dsmVt1BWJkGaBIfsb8GK9fVFggaKIbGrcRVEhrK-H3Pg
//am-tfs/Fabrikam/_packaging/Fabrikam/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6InB2dTFIS0R0OERsVzA5RVNVdTZLY0ZEd05lYyJ9.eyJuYW1laWQiOiI2MjVmZDJiZi03ODk4LTRmMjEtOTA4Yy01YzUwOTk2N2UwOTYiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYTM1NmVmZDMtMzY4OC00MjEwLTg5OGItNWZiY2Y1YzYyNTk2Iiwic2lkIjoiNTU1NjIyZmUtYjgyNi00YzU1LWE5MDEtNzBiOGM3MTY2MTVlIiwiaXNzIjoiYW0tdGZzIiwiYXVkIjoiYW0tdGZzIiwibmJmIjoxNTM3MjA2Nzc5LCJleHAiOjE1NDQ5ODI3Nzl9.EeXiLTP8bAfk-_4ZgcCFalDq92Gkx2tbeOFccvTZfY9QlslqnZx9rgQWs-dHHZCmaT5MYX66fHLHrNzD39MJloBEGShciqJdGjez1Yque7DlQm58T57c6WRUJQPZfJoMq6mRXB1dH4RoD-xgOn-15kV3KgqH2pDjc6nurD5f9-5YRJxCOmeqLtfWPb4LClfqqEmLaaQsEjYfZ2tGYXr82iewVhMng1q8zU5ZIYsZ7pLxnVFmtzIDUFxNXJRbt7BctzhX_l_LeaOlFS5GmtIqkHW-_KdDR9llCJsSiGFfI1dsmVt1BWJkGaBIfsb8GK9fVFggaKIbGrcRVEhrK-H3Pg
; end auth token