registry=https://pkgs.dev.azure.com/codesharing-demo/_packaging/codesharing-demo/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 6/27/2019.
; begin auth token
//pkgs.dev.azure.com/codesharing-demo/_packaging/codesharing-demo/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJiNWM4MDA1MC1mNzIwLTQyNmEtOWU1OS03M2QxYjZmZTI3ODEiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiZDQ5ZDliODAtYzY4Yy00YzdkLWJlZTktZTM4Y2E2NDhmZTE0Iiwic2lkIjoiYzNkMTdlNDItZDQ2Ni00MTk2LWIyNGYtNzEyNjJmYzI5MGU1IiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOmQ5MzAxMjM3LTVhZWItNDI4My1iMzBmLTYyNTdiM2E4NjIxZCIsIm5iZiI6MTU1Mzg3MTQzMSwiZXhwIjoxNTYxNjQ4MDMxfQ.bUXN9FfjaEi_N61WmKUvjA5bPBBvxWxwJI7FryhmHBRI6UzYUoymA4Zfuy1-In4RFGRCbn1mVVdxSOeJ7d2-ug2Meq3DcXb26_2LB27sMRXAdaEdt5L6ZReiu-khl2KDYgrt7ybXZfn_-zdtvb_t5ytK_QMD722yqtJ7U6jIWiT3rLveok9enlxavD84HoTjO1n7KoLSvJ8TsrHyXe1c0LMgY1bNEWgpmgfKKYDlf_cC49Iyq2Qo2qfjW8tvTrrrOoSyQEeMHwggi4JF39VSUAmvHBeJ1-xCu8oeoFSto2qiQYs4zethVu0-6GPWFedtqZsLzdbeZVMEbVaii5zE0A
//pkgs.dev.azure.com/codesharing-demo/_packaging/codesharing-demo/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJiNWM4MDA1MC1mNzIwLTQyNmEtOWU1OS03M2QxYjZmZTI3ODEiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiZDQ5ZDliODAtYzY4Yy00YzdkLWJlZTktZTM4Y2E2NDhmZTE0Iiwic2lkIjoiYzNkMTdlNDItZDQ2Ni00MTk2LWIyNGYtNzEyNjJmYzI5MGU1IiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOmQ5MzAxMjM3LTVhZWItNDI4My1iMzBmLTYyNTdiM2E4NjIxZCIsIm5iZiI6MTU1Mzg3MTQzMSwiZXhwIjoxNTYxNjQ4MDMxfQ.bUXN9FfjaEi_N61WmKUvjA5bPBBvxWxwJI7FryhmHBRI6UzYUoymA4Zfuy1-In4RFGRCbn1mVVdxSOeJ7d2-ug2Meq3DcXb26_2LB27sMRXAdaEdt5L6ZReiu-khl2KDYgrt7ybXZfn_-zdtvb_t5ytK_QMD722yqtJ7U6jIWiT3rLveok9enlxavD84HoTjO1n7KoLSvJ8TsrHyXe1c0LMgY1bNEWgpmgfKKYDlf_cC49Iyq2Qo2qfjW8tvTrrrOoSyQEeMHwggi4JF39VSUAmvHBeJ1-xCu8oeoFSto2qiQYs4zethVu0-6GPWFedtqZsLzdbeZVMEbVaii5zE0A
; end auth token